{% extends'::base.html.twig' %}

{% block body %}
	<div id="title"><img src="/images/news.png" alt=""/></div>
    <div id="content">
    	{% for new in news %}
        <div class="box">
            <img src="{{ asset('images/') }}{{ new.image }}" alt="{{ new.title }}" title="{{ new.title }}"/>
            <div class="date">{{ new.date | date("m-d-Y") }}<span> {{ new.title }}</span></div>
            {{ new.description }}                    
        </div>
        {% endfor %}
    </div>
{% endblock %}